{% extends 'blank.html' %}

{% block content %}
  <form action="{% url 'clsCreation' %}" method="POST">
    {% csrf_token %}                
    <div class="input-group mb-3">
      <!-- <span class="input-group-text" id="basic-addon1"></span> -->
      <input type="text" name = "ClassName" class="form-control" placeholder="Class Name" aria-label="Class Name" aria-describedby="basic-addon1">
    </div>

    {% comment %} name="course" value="{{co.name}}" {% endcomment %}
    <h2>Course Selection</h2><br>

    {% for co in course %}
    
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1 " >
        <input type="checkbox" name="course" id="ProcessingConsultantYN" value="{{co.name}}" />
      </span>

      <ul>    
        <li style="margin-right:15px ; bottom: 15px ;" class="list-group-item">{{co.name}}</li>
      </ul>
   
      <ul>
        <li style="bottom: 15px ; display: flex;" class="list-group-item">
      <select name="teacher" id="teacher">
        <option value="">--- Select Teacher ---</option>
        {% for teach in t %}
        <option  value="{{ teach.user.first_name }}">{{ teach.user.first_name  }} {{teach.user.last_name}}</option>
        {% endfor %}
      </select>
    </li>
    </ul>
      
    </div>

  {% endfor %}
  
  <hr style="width:50%">
    <h2>Student Selection</h2> <br>
    {% for stu in stu %}
    <div  class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <input type="checkbox" name="students" id="ProcessingConsultantYN" value="{{stu.user.first_name}}" />
      </span>

      <ul>    
        <li style="margin-right:25px ; bottom: 15px ;" class="list-group-item">{{stu.user.first_name }} {{stu.user.last_name}}</li>
      </ul>
    </div>
    {% endfor %}

    <div>
      <button type="submit" class="ml-3 btn btn-primary btn-icon-split">
        <span class="text">Submit</span>
      </button>
    </div>
  </form>
{% endblock content %}