{% extends 'blank.html' %}

{% block content %}
  <form action="{% url 'clsCreation' %}" method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">class name</span>
      <input type="text" name = "ClassName" class="form-control" placeholder="Class Name" aria-label="Class Name" aria-describedby="basic-addon1">
    </div>

    {% comment %} name="course" value="{{co.name}}" {% endcomment %}
    <h1>Course</h1>
    {% for co in course %}
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <input type="checkbox" name="course" id="ProcessingConsultantYN" value="{{co.name}}" />
      </span>

      <ul>    
        <li class="list-group-item">{{co.name}}</li>
      </ul>
    </div>
    {% endfor %}

    <h1>Student</h1> 
    {% for stu in stu %}
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <input type="checkbox" name="course" id="ProcessingConsultantYN" value="{{stu.user.first_name}}" />
      </span>

      <ul>    
        <li class="list-group-item">{{stu.user.first_name}}</li>
      </ul>
    </div>
    {% endfor %}

    <div>
      <button type="submit" class="ml-3 btn btn-primary btn-icon-split">
        <span class="text">Submit</span>
      </button>
    </div>
  </form>
{% endblock content %}