{% extends 'blank.html' %} {% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <fieldset disabled>
    <legend>Overview</legend>


    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Class</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ temp }}" />
    </div>
  </fieldset>

{% for i in assclass %}
  <ul style="padding-left: 0px;">
    <li>
      
        <div >
          <label name="course" value="{{ i.course.name }}" for="cars">{{ i.course.name }}</label>

          <select name="teacher" id="teacher">
            {% for teach in t %}
            <option value="{{ teach.user.first_name }}">{{ teach.user.first_name }}</option>
            {% endfor %}
          </select>
        </div>
        {% endfor %}
        
      </li>
    </ul>
    <div>
      <button type="submit" class="ml-3 btn btn-primary btn-icon-split">
        <span class="text">Submit</span>
      </button>
    </div>
</form>
{% endblock content %}