{% extends 'blank.html' %}

{% block content %}
<form action="" method="post" id="class-form">
    {% csrf_token %}
    {{ form.as_p }}
</form>
<form method="get" id="filter-form">
    {{ filter1.form }}
    <button type="submit" form="filter-form">Filter</button>
</form>
<form method="get" id="filter-form">
    {{ cfilter.form }}
    <button type="submit" form="filter-form">Filter</button>
</form>

<button type="submit" form="class-form">Submit</button>
{% comment %} <form action="" method="get">
    {{ filter2.form }}
    <button type="submit">Filter</button>
</form> {% endcomment %}
{% endblock content %}