{% extends 'tables.html' %}
{% load static %}

{% block heading %}
<p class="mb-4">Some description Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt minus fugit dicta hic
    ut sapiente dolorum obcaecati. Perferendis, cupiditate assumenda.</p>
{% endblock %}

{% block table %}
<p id="err" style="color: red"></p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Type</th>
            <th>Batch</th>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for slot in table %}
        <!-- <p>{{ slot.weekday_id }}-{{ slot.course }}-{{ slot.time }}</p> -->
        <tr>
            <td>{{ slot.course }}</td>
            <td>{{ slot.type }}</td>
            <td>{{ slot.batch }}</td>
            <td><span style="display:none">{{ slot.weekday_id }}</span>{{ slot.weekday }}</td>
            <td>{{ slot.start_time }}</td>
            <td>{{ slot.end_time }}</td>
            <td><button class="slot-delete" onclick="delSlot('{{ slot.weekday }}',{{ slot.time }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    
    <tfoot>
        <tr>
            <th>
                {% include 'components/dropdown.html' %} 
                <hr>
                Course Name
            </th>
            <th>
                <select name="" id="slot-type">
                    <option selected value="">------</option>
                    <option value="Lecture">Lecture</option>
                    <option value="Lab">Lab</option>
                </select>
                <hr>
                Type
            </th>
            <th>
                <select name="" id="batch">
                    <option selected value="">------</option>
                    <option value="All">All</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
                <hr>
                Batch
            </th>
            <th>
                <select name="" id="weekday">
                    <option selected value="">------</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
                <hr>
                Day
            </th>
            <th>
                <input type="time" name="" id="start-time"/>
                <hr>
                Start Time
            </th>
            <th>
                <input type="time" name="" id="end-time"/>
                <hr>
                End Time
            </th>
            <th>
                <button type="submit" id="add-btn">Add</button>
                <hr>
                Action
            </th>            
        </tr>
    </tfoot>
</table>
{% endblock table %}

{% comment %} {% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<div class="container-fluid">
    <table>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Day</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>1</td>
            <td>AOA</td>
            <td>Monday</td>
            <td>11:00 am</td>
        </tr>
        <tr>
            <td colspan="2" class="td-add">
                {% include 'components/dropdown.html' %}
            </td>
            <td>
                <select name="" id="">
                    <option selected value="">------</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </select>
            </td>
            <td><input type="time" name="" id=""></td>
        </tr>
    </table>
</div>
{% endblock content %} {% endcomment %}