{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}
<style>
    .custom-table {
    font-size: 0.8rem;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    text-align: center;
}

.custom-table thead tr {
    background-color: #4e73df;
    color: #fff;
    font-weight: bold;
}

.custom-table thead tr:first-child {
    border-bottom: 5px solid #4e73df;
}

.custom-table tbody th {
    font-size: 1.2rem;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.custom-table tbody td,
.custom-table tbody th {
    padding: .25rem .5rem;
    vertical-align: middle;
}

.custom-table tbody tr:last-of-type {
    border-bottom: 2px solid #4e73df;
}

.custom-table tbody td {
    border-right: 1px solid #ddd;
}

.select-form {
    border: 1px solid #ddd;
    background-color: transparent;
    color: inherit;
}
</style>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include 'components/sidebar.html' %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                {% include 'components/topbar.html' %}
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">{{ title }}</h1>
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Lec0</th>
                                <th>Lec1</th>
                                <th>Lec2</th>
                                <th>Break</th>
                                <th colspan="2">Lab</th>
                                <th>Break</th>
                                <th>Lec3</th>
                                <th>Lec4</th>
                                <th>Lec5</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>08:00 - 09:00</th>
                                <th>09:00 - 10:00</th>
                                <th>10:00 - 11:00</th>
                                <th>11:00 - 11:15</th>
                                <th>11:15 - 12:15</th>
                                <th>12:15 - 13:15</th>
                                <th>13:15 - 14:00</th>
                                <th>14:00 - 15:00</th>
                                <th>15:00 - 16:00</th>
                                <th>16:00 - 17:00</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- MONDAY -->
                            <tr>
                                <th rowspan="3">Mon</th>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="monday1">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="monday2">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="monday3">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="18">Short Break</td>
                                <!-- Lab1 -->
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="monday4">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="18">Lunch Break</td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="monday7">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="monday8">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="monday9">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab2 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="monday5">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab3 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="monday6">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- TUESDAY -->
                            <tr>
                                <th rowspan="3">Tue</th>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="tuesday1">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>
                                        <div>Teacher</div>
                                        <div id="tuesday2">{% include 'components/dropdown.html' %}</div>
                                    </div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="tuesday3">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Short Break</td> -->
                                <!-- Lab1 -->
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="tuesday4">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Lunch Break</td> -->
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="tuesday7">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="tuesday8">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="tuesday9">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab2 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="tuesday5">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab3 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="tuesday6">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- WEDNESDAY -->
                            <tr>
                                <th rowspan="3">Wed</th>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="wednesday1">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="wednesday2">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="wednesday3">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Short Break</td> -->
                                <!-- Lab1 -->
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="wednesday4">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Lunch Break</td> -->
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="wednesday7">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="wednesday8">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="wednesday9">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab2 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="wednesday5">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab3 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="wednesday6">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- THURSDAY -->
                            <tr>
                                <th rowspan="3">Thu</th>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="thursday1">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="thursday2">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="thursday3">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Short Break</td> -->
                                <!-- Lab1 -->
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="thursday4">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Lunch Break</td> -->
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="thursday7">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="thursday8">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="thursday9">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab2 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="thursday5">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab3 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="thursday6">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- FRIDAY -->
                            <tr>
                                <th rowspan="3">Fri</th>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="friday1">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="friday2">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="friday3">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Short Break</td> -->
                                <!-- Lab1 -->
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="friday4">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Lunch Break</td> -->
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="friday7">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="friday8">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="friday9">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab2 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="friday5">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab3 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="friday6">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- SATURDAY -->
                            <tr>
                                <th rowspan="3">Sat</th>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="saturday1">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="saturday2">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="saturday3">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Short Break</td> -->
                                <!-- Lab1 -->
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="saturday4">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <!-- <td rowspan="6">Lunch Break</td> -->
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="saturday7">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="saturday8">{% include 'components/dropdown.html' %}</div>
                                </td>
                                <td rowspan="3">
                                    <div>Teacher</div>
                                    <div id="saturday9">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab2 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="saturday5">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                            <!-- Lab3 -->
                            <tr>
                                <td rowspan="1" colspan="2">
                                    <div>Teacher</div>
                                    <div id="saturday6">{% include 'components/dropdown.html' %}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button form="userForm" type="submit" id="submit-btn" class="btn btn-success btn-icon-split mr-3">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Create</span>
                    </button>
                    <button form="userForm" type="submit" class="btn btn-danger btn-icon-split mr-3">
                        <span class="icon text-white-50">
                            <i class="fas fa-xmark"></i>
                        </span>
                        <span class="text">Cancel</span>
                    </button>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    {% include 'components/scripts.html' %}
</body>
<script type="text/javascript">
let submit_btn = document.getElementById("submit-btn");
let lectures = [];
lectures.push(document.querySelectorAll(`[id^="monday"]`));
lectures.push(document.querySelectorAll(`[id^="tuesday"]`));
lectures.push(document.querySelectorAll(`[id^="wednesday"]`));
lectures.push(document.querySelectorAll(`[id^="thursday"]`));
lectures.push(document.querySelectorAll(`[id^="friday"]`));
lectures.push(document.querySelectorAll(`[id^="saturday"]`));
let time_table = {
    "class": "class_id",
    "schedule": {
        "monday": {
            "slots": [ //{"time": "slot_time",
            ] // "course": "course_id",
        }, // "teacher": "teacher_id"},
        "tuesday": {
            "slots": []
        },
        "wednesday": {
            "slots": []
        },
        "thursday": {
            "slots": []
        },
        "friday": {
            "slots": []
        }
    }
};
let time_slot = ["8:00-9:00", "9:00-10:00", "10:00-11:00", "11:15-13:15", "14:00-15:00", "15:00-16:00", "16:00-17:00", "11:15-13:15", "11:15-13:15"];
let tt = "";
const parseData = () => {
    let i = 0;
    Object.keys(time_table.schedule).forEach(function(key) {
        for (let j = 0; j < 9; j++) {
            let dict = {
                time: time_slot[j],
                course: lectures[i][j].childNodes[1].value,
                teacher: "yes"
            };
            time_table.schedule[key].slots.push(dict);
        }
        i += 1;
    });
    tt = JSON.stringify(time_table);
    console.log(tt);
    submit_btn.disabled = true;
};
submit_btn.addEventListener('click', parseData);
</script>

</html>