{% extends 'blank.html' %}
{% block content %}
<!-- Page Heading -->
{% if page == 'editTT' %}
<div id="subject">{% include 'components/dropdown.html' %}</div>
{% endif %}
{% if page == 'updateTT' %}
<button type="submit" class="btn btn-primary btn-icon-split mr-3" 
    onclick="window.location.href='{% url 'requests' %}';">
    <span class="icon text-white-50">
        <i class="fas fa-pen-to-square"></i>
    </span>
    <span class="text">Manage</span>
</button>
{% endif %}
<h1 class="h3 mb-2 text-gray-800">{{ title }}</h1>
<!-- <form action="{% url 'createTimeTable' %}" method="POST" id="formdata">
    {% csrf_token %} -->
    <div class="table-responsive">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Lec0</th>
                    <th>Lec1</th>
                    <th>Lec2</th>
                    <th>Break</th>
                    <th colspan="2">Lab</th>
                    <th>Break</th>
                    <th>Lec3</th>
                    <th>Lec4</th>
                    <th>Lec5</th>
                </tr>
                <tr>
                    <th></th>
                    <th>08:00 - 09:00</th>
                    <th>09:00 - 10:00</th>
                    <th>10:00 - 11:00</th>
                    <th>11:00 - 11:15</th>
                    <th>11:15 - 12:15</th>
                    <th>12:15 - 13:15</th>
                    <th>13:15 - 14:00</th>
                    <th>14:00 - 15:00</th>
                    <th>15:00 - 16:00</th>
                    <th>16:00 - 17:00</th>
                </tr>
            </thead>
            <tbody>
                <!-- MONDAY -->
                <tr>
                    <th rowspan="3">Mon</th>
                    <td rowspan="1" colspan="1" id="monday1">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday2">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday3">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="18">
                        <div class="break-data">Short Break</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday4">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday5">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="18">
                        <div class="break-data">Lunch Break</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday6">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday7">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday8">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="monday9">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday10">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday11">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday12">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday13">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday14">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday15">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday16">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="monday17">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday18">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday19">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday20">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday21">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday22">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday23">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="monday24">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                
                <!-- TUESDAY -->
                <tr>
                    <th rowspan="3">Tue</th>
                    <td rowspan="1" colspan="1" id="tuesday1">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday2">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday3">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday4">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday5">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday6">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday7">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday8">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="tuesday9">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday10">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday11">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday12">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday13">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday14">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday15">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday16">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="tuesday17">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday18">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday19">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday20">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday21">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday22">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday23">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="tuesday24">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>

                <!-- WEDNESDAY -->
                <tr>
                    <th rowspan="3">Wed</th>
                    <td rowspan="1" colspan="1" id="wednesday1">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday2">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday3">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday4">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday5">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday6">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday7">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday8">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="wednesday9">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday10">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday11">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday12">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday13">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday14">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday15">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday16">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="wednesday17">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday18">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday19">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday20">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday21">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday22">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday23">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="wednesday24">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <!-- THURSDAY -->
                <tr>
                    <th rowspan="3">Thu</th>
                    <td rowspan="1" colspan="1" id="thursday1">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday2">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday3">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday4">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday5">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday6">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday7">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday8">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="thursday9">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday10">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday11">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday12">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday13">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday14">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday15">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday16">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="thursday17">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday18">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday19">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday20">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday21">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday22">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday23">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="thursday24">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <!-- FRIDAY -->
                <tr>
                    <th rowspan="3">Fri</th>
                    <td rowspan="1" colspan="1" id="friday1">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday2">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday3">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday4">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday5">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday6">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday7">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday8">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="friday9">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday10">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday11">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday12">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday13">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday14">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday15">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday16">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="friday17">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday18">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday19">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday20">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday21">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday22">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday23">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="friday24">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>

                <!-- SATURDAY -->
                <tr>
                    <th rowspan="3">Sat</th>
                    <td rowspan="1" colspan="1" id="saturday1">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday2">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday3">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday4">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday5">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday6">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday7">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday8">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="saturday9">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday10">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday11">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday12">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday13">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday14">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday15">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday16">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1" colspan="1" id="saturday17">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday18">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday19">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday20">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday21">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday22">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday23">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                    <td rowspan="1" colspan="1" id="saturday24">
                        <div>Teacher</div>
                        <div>{% include 'components/dropdown.html' %}</div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

{% if page == 'createTT' %}
<button type="submit" id="create-btn" class="btn btn-success btn-icon-split mr-3" 
    onclick="createTimeTable();">
    <span class="icon text-white-50">
        <i class="fas fa-check"></i>
    </span>
    <span class="text">Create</span>
</button>
{% endif %}
</form>
{% if page == 'editTT' %}
<button type="submit" id="update-btn" class="btn btn-success btn-icon-split mr-3" 
    onclick="storeData();this.disabled = true;">
    <span class="icon text-white-50">
        <i class="fas fa-check"></i>
    </span>
    <span class="text">Update</span>
</button>
{% endif %}
{% if page == 'createTT' %}
<button type="submit" class="btn btn-danger btn-icon-split mr-3" onclick="console.log('cleared timetable');localStorage.removeItem('timetable');localStorage.removeItem('flushtimetable');window.location.reload();">
    <span class="icon text-white-50">
        <i class="fa fa-times"></i>
    </span>
    <span class="text">Clear All</span>
</button>
{% endif %}

{% endblock %}

