{% extends 'tables.html' %}

{% block heading %}

{% endblock %}

{% block table %}
<!-- for class selection -->
{% if title == 'ClassSelection' %}

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>name</th>
            <th>dept</th>
            <th>course id</th>
            <th>course name</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>name</th>
            <th>dept</th>
            <th>course id</th>
            <th>course name</th>

        </tr>
    </tfoot>
    <tbody>

        {% for assign in teachercls.assign_cls_set.all %}
        <tr>
            <td>
                <a href="{% url 'attendance-attendance_date' assign.id %}">
                    {{ assign.cls }}
                </a>
            </td>
            <td>{{ assign.cls.department }}</td>
            <td>{{ assign.course.id }}</td>
            <td>{{ assign.course.name }}</td>

            {% endfor %}
        </tr>

    </tbody>
    
</table>

{% elif title == 'dates' %}
    {% comment %} <form action="{% url 'attendance-attendance_date' ass.id %}" method="POST">
        {% csrf_token %} {% endcomment %}
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Enter Attendance</th>
                    <th>ADD </th>

                </tr>
            </thead>

            <tfoot>
                <tr>

                    <th>
                        <select name="">
                            <option selected value="">------</option>
                            <option value="Lecture">Lecture</option>
                            <option value="Lab">Lab</option>
                        </select>
                        <hr>
                        Type
                    </th>

                    <th>
                        <input type="datetime-local" name="" />
                        <hr>
                        Date 
                    </th>
{% comment %}         
        ('9:30 - 10:30', '9:30 - 10:30'),
        ('10:30 - 11:30', '10:30 - 11:30'),
        ('11:30 - 12:30', '11:30 - 12:30'),
        ('12:30 - 1:30', '12:30 - 1:30'),
        ('2:30 - 3:30', '2:30 - 3:30'),
        ('3:30 - 4:30', '3:30 - 4:30'),
        ('4:30 - 5:30', '4:30 - 5:30'),
{% endcomment %}
                    <th></th>
                    <th></th>
                    
                    <th>
                        <a href="{% url 'create_lecture' ass.id %}"> 
                        <button type="submit" class="ml-3 btn btn-primary btn-icon-split">
                        <span class="text"> ADD </span>
                        </button>
                        </a>
                    </th>

                </tr>
            </tfoot>
            <tbody>

                {% for attcls in att_list %}
                    <tr>
                        <td>
                            <a href="#">
                                {{ attcls.assign.cls }}
                            </a>
                        </td>
                        <td>
                            {{ attcls.date }}
                        </td>
                        {% if attcls.status == 0 %}
                        <td class="p-3 mb-2 bg-danger text-white">Not Marked</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'attendance' attcls.id %}" role="button">Enter Attendance</a>
                        </td>
                        {% elif attcls.status == 1 %}
                                <td class="p-3 mb-2 bg-success text-white">Marked</td>
                                <td><a class="btn btn-secondary" href="{% url 'edit-attendance' attcls.id %}" role="button">Edit Attendance</a> </td>

                            {% endif %}

                    </tr>
                {% endfor %}


            </tbody>
        </table>
    {% comment %} </form> {% endcomment %}

{% endif %}

{% endblock %}