{% extends 'tables.html' %}

{% block heading %}

{% endblock %}

{% block table %}
<!-- for class selection -->
{% if title == 'ClassSelection' %}

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>name</th>
            <th>dept</th>
            <th>course id</th>
            <th>course name</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>name</th>
            <th>dept</th>
            <th>course id</th>
            <th>course name</th>

        </tr>
    </tfoot>
    <tbody>

        {% for assign in teachercls.assign_cls_set.all %}
        <tr>
            <td>
                <a href="{% url 'attendance-attendance_date' assign.id %}">
                    {{ assign.cls }}
                </a>
            </td>
            <td>{{ assign.cls.department }}</td>
            <td>{{ assign.course.id }}</td>
            <td>{{ assign.course.name }}</td>

            {% endfor %}
        </tr>

    </tbody>
    
</table>

{% elif title == 'dates' %}

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>name</th>
            <th>dept</th>
            <th>course id</th>
            <th>course name</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>name</th>
            <th>dept</th>
            <th>id</th>
            <th>id</th>

        </tr>
    </tfoot>
    <tbody>

        {% for attcls in att_list %}
        <tr>
            <td>
                <a href="#">
                    {{ attcls.assign.cls }}
                </a>
            </td>
            <td>{{ attcls.date }}</td>
            {% if attcls.status == 0 %}
            <td class="p-3 mb-2 bg-danger text-white">Not Marked</td>
            <td>
                <a class="btn btn-primary" href="{% url 'attendance' attcls.id %}" role="button">Enter Attendance</a>
            </td>
            {% elif attcls.status == 1 %}
                    <td class="p-3 mb-2 bg-success text-white">Marked</td>
                    <td><a class="btn btn-secondary" href="{% url 'edit-attendance' attcls.id %}" role="button">Edit Attendance</a> </td>

            {% comment %} {% else %}
                <td class="p-3 mb-2 bg-warning text-white">Cancelled</td>
                <td><a class="btn btn-primary" href="#" role="button">Enter Attendance</a></td> {% endcomment %}
            
                {% endif %}


            {% endfor %}
        </tr>

    </tbody>
</table>


{% endif %}

{% endblock %}