{% extends 'blank.html' %}

{% block content %}
  <form action="" method="POST">
    {% csrf_token %}

    <fieldset disabled>
      <legend>Overview</legend>

      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Class</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ ass.cls.class_name }}" />
      </div>

      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Course</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ ass.course.name }}" />
      </div>

      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Teacher</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ ass.teacher.user.first_name }} {{ ass.teacher.user.middle_name }} {{ ass.teacher.user.last_name }}" />
      </div>
    </fieldset>

    <br />
    <div>
      <legend>Create Lecture</legend>
    </div>

    <div>
      <label for="disabledTextInput" class="form-label">Day</label>
      <select name="day" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
      </select>
    </div>

    <div>
      <label for="disabledTextInput" class="form-label">Time slot</label>
      <select name="timeslot" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="9:30 - 10:30">9:30 - 10:30</option>
        <option value="10:30 - 11:30">10:30 - 11:30</option>
        <option value="11:30 - 12:30">11:30 - 12:30</option>
        <option value="12:30 - 1:30">12:30 - 1:30</option>
        <option value="2:30 - 3:30">2:30 - 3:30</option>
        <option value="3:30 - 4:30">3:30 - 4:30</option>
        <option value="4:30 - 5:30">4:30 - 5:30</option>
      </select>
    </div>
    <br />
    <div>
      <button type="submit" class="ml-3 btn btn-primary btn-icon-split"><span class="text">Create</span></button>
    </div>
  </form>
{% endblock %}
