{% extends 'tables.html' %}

{% block heading %}
<!-- <h1 class="h3 mb-2 text-gray-800">{{ title }}</h1> -->
<p class="mb-4">List of all Courses for {{ department }}</p>
{% endblock %}

{% block table %}
<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table tbody + tbody {
        border-top: 2px solid #dee2e6;
    }

    .table-sm th,
    .table-sm td {
        padding: 0.3rem;
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
    }

    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 2px;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .table-hover tbody tr:hover {
        color: #212529;
        background-color: rgba(0, 0, 0, 0.075);
    }
</style>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Code</th>
            <th>Scheme</th>
            <th>Name</th>
            <th>Deptartment</th>
            <!-- <th>Start date</th>
            <th>Salary</th> -->
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Code</th>
            <th>Scheme</th>
            <th>Name</th>
            <th>Deptartment</th>
        </tr>
    </tfoot>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>
                <a href="{% url 'update' id=course.id %}">
                    {{ course.code }}
                </a>
            </td>
            <td>{{ course.scheme }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.dept }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}