{% extends 'tables.html' %}

{% block heading %}
<!-- <h1 class="h3 mb-2 text-gray-800">{{ title }}</h1> -->
<p class="mb-4">Some description Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt minus fugit dicta hic
    ut sapiente dolorum obcaecati. Perferendis, cupiditate assumenda.</p>
{% endblock %}

{% block table %}
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Course Assigned</th>
            <th>Is Class Teacher</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Course Assigned</th>
            <th>Is Class Teacher</th>
        </tr>
    </tfoot>
    <tbody>
        {% for teacher in teachers %}
        <tr>
            <td>
                <a href="{% url 'updateTeacher' id=teacher.id %}">
                    {{ teacher.id }}
                    <!-- id -->
                </a>
            </td>
            <td>{{ teacher.user.first_name }}</td> <!-- first_name -->
            <td>{{ teacher.user.last_name }}</td> <!-- last_name -->
            <!-- <td>{# teacher.course #}</td> course assigned -->
            <td>
                {% for course in teacher.course.all %}
                {{ course.code }}-{{ course.name }},<br>
                {% endfor %}
            </td>
            <td>{{ teacher.is_classteacher }}</td> <!-- is class teacher -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}