{% load static %}
<select class="select-form" aria-label=".form-select-lg">
  <option selected value="FREE"></option>
  <option value="EM">EM-IV</option>
  <option value="AOA">AOA</option>
  <option value="DBMS">DBMS</option>
  <option value="OS">OS</option>
  <option value="MP">MP</option>
  <option value="PYTHON">Python</option>
  <option value="PROJECT">Mini Project</option>
  <option value="MENTORING">Mentoring</option>
  <option value="REMEDY">Remedial</option>
  <option value="EXTRA">Extracurricular</option>
</select>