{% load static %}
<select class="select-form" aria-label=".form-select-lg">
  <option value="FREE"></option>
  <option value="TCS" id="course1">TCS</option>
  <option value="SE" id="course2">SE</option>
  <option value="CN" id="course3">CN</option>
  <option value="DWM" id="course4">DWM</option>
  <option value="IP" id="course5">IP</option>
  <option value="PCE-II" id="course6">PCE-II</option>
  <option value="Mini Project" id="course7">Mini Project</option>
  <option value="Mentoring" id="course8">Mentoring</option>
  <option value="Remedial" id="course9">Remedial</option>
  <option value="Extracurricular" id="course10">Extracurricular</option>
</select>
