{% load static %}
<select class="select-form" aria-label=".form-select-lg">
  <option selected value="FREE"></option>
  <option value="EM-IV" id="course1" name="course1">EM-IV</option>
  <option value="AOA" id="course2">AOA</option>
  <option value="DBMS" id="course3">DBMS</option>
  <option value="OS" id="course4">OS</option>
  <option value="MP" id="course5">MP</option>
  <option value="Python" id="course6">Python</option>
  <option value="Mini Project" id="course7">Mini Project</option>
  <option value="Mentoring" id="course8">Mentoring</option>
  <option value="Remedial" id="course9">Remedial</option>
  <option value="Extracurricular" id="course10">Extracurricular</option>
</select>
