{% load static %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

{% if page == 'createTT' %}
<script src="{% static 'js/timetable.js' %}">
</script>
<script type="text/javascript">
	loadData();
</script>
{% endif %}
{% if page == 'editTT' %}
<script src="{% static 'js/timetable.js' %}"></script>
<script type="text/javascript">
	editTimeTable();
</script>
{% endif %}
{% if page == 'updateTT' %}
<script src="{% static 'js/timetable.js' %}">
</script>
<script type="text/javascript">
	loadTempData();
</script>
{% endif %}
{% if page == 'request' %}
<script src="{% static 'js/timetable.js' %}">
</script>
<script type="text/javascript">
	loadRequests();
</script>
{% endif %}